@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fb5193;
}

a {
  text-decoration: none;
  color: #fffeff;
}

ul {
  list-style: none;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  opacity: 0.9;
}

input:focus {
  padding: 10px;
  border: none;
  outline: 1px solid #f7abc9;
  opacity: 1;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: #307bbe;
  animation: spin 0.6s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
